.classes-table-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 700;
  font-size: 1.2em;
}

.header-buttons {
  display: flex;
  flex: 5;
}

.add-lessons {
  margin: 0 0 15px 15px;
}

.submit-class-button {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 15px 15px;
}

.header-buttons button:first-child {
  flex: 1;
  background-color: white;
  padding: 0 10px;
}

.classes-table-header span {
  flex: 1;
}

.classes-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.classes-table-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.classes-table-row span {
  flex: 1;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.new-class-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #4caf50;
  border: 0;
  border-radius: 50%;
  font-size: 2em;
  width: 60px;
  height: 60px;
  color: white;
}

.new-class-button:hover {
  background-color: #388e3c;
}


.drop-down-title {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px 5px 0 0;
}
.add-lesson-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.add-lesson-button button{
  border: 0;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  padding: 10px 30px;
}

.no-video-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

.edit-pencil-button {
  background-color: transparent;
  color: white;
  border: 0;
}